#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #262a30;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    color: #999;
}
.outer{
	max-width: none;
    margin: 0 auto;
    padding: 0 5px;
}
#banner{
	position: fixed;
	    height: 33%;
}
.userbj{
	position: relative;
    top: 0;
    left: 0;
    max-height: 140%;
    height: 100rem;
    background-color: #eee;
	    padding: 0 160px;
}
#wrap {
    background: aliceblue;
}